<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="Gradient.js" ></script>
    <title>Publiweb File Maker</title>
    <script src="{{url_for('static', filename='static/gradient.js')}}"></script>

    
    <title>Publiweb File Maker</title>
</head>
<style>
    body {
        margin:0;
        padding:0;
        margin-top:-60
    }
    #gradient-canvas {
        --gradient-color-1: #8fb1cc;
        --gradient-color-2: #adc3d1;
        --gradient-color-3: #eeecf1;
        --gradient-color-4: #949494;
    }
</style>
<body>
    <canvas id="gradient-canvas" style="width:100vw;height:50vh"></canvas>
    <script>
        var gradient = new Gradient()
        gradient.initGradient('#gradient-canvas');
    </script>
    <h2 style="text-align: center;">Votre fichier a été parsé avec succès</h2>

    <div class="container" style="width: 100%; align-items: center; display: flex; justify-content: center;">
      <a href="/zipped_data" target="blank"><button class="button-85" role="button">Téléchargez</button></a>
     </div>
    <pre>{{content}}</pre>
</body>
</html>