<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="Gradient.js"></script>
    <title>Publiweb File Maker</title>
    <script src="{{url_for('static', filename='js/Gradient.js')}}"></script>


    <title>Publiweb File Maker</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        margin-top: -60
    }

    #gradient-canvas {
        --gradient-color-1: #84e3c4;
        --gradient-color-2: #6b8cf4;
        --gradient-color-3: #f3bce3;
        --gradient-color-4: #08c6f6;
    }
</style>

<body>
    <canvas id="gradient-canvas" style="width:100vw;height:50vh"></canvas>
    <script>
        var gradient = new Gradient()
        gradient.initGradient('#gradient-canvas');
    </script>
     <h2 style="text-align: center; margin-bottom: 40px;">Liste des liens </h2>
    <div class='list' style="display: flex; justify-content: center;">
    <div style="display: inline-block; float: left; width: 750px;">
    <input class="list_input" type="text" style="width:70%" value="https://contact788081.typeform.com/to/bJsmiruG?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="myFunction()">Histoire d'audition
    </button><br>
    <input class="list_input" type="text" style="width:70%" value="https://contact788081.typeform.com/to/OeCNlcDS?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="myFunction()">Harmonie d'audition
    </button><br>
    <input class="list_input" type="text" style="width:70%" value="https://contact788081.typeform.com/to/pcsJrpjR?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="myFunction()">Vivason
    </button><br>
    <input class="list_input" type="text" style="width:70%" value="https://contact788081.typeform.com/to/dTaEWD6j?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="myFunction()">Vivason 92
    </button><br>
    <input class="list_input" type="text" style="width:70%" value="https://contact788081.typeform.com/to/OxnZdtzU?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="myFunction()">Alliance CAG
    </button><br>
    <input class="list_input" type="text" style="width:70%" value="https://contact788081.typeform.com/to/MF1Y4FyO?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="myFunction()">NouvelAir CAG
    </button>
    </div>

</div>
<div style='display: flex; justify-content: center; margin-top: 20px;'>
<a href='/' class="button-85" style='text-decoration: none; color:white;'>Retour à l'accueil</a>

</body>

</html>