<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="Gradient.js"></script>
    <title>Publiweb File Maker</title>
    <script src="{{url_for('static', filename='js/Gradient.js')}}"></script>


    <title>Publiweb File Maker</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        margin-top: -60
    }

    #gradient-canvas {
        --gradient-color-1: #84e3c4;
        --gradient-color-2: #6b8cf4;
        --gradient-color-3: #f3bce3;
        --gradient-color-4: #08c6f6;
    }
</style>

<body>
    <canvas id="gradient-canvas" style="width:100vw;height:50vh"></canvas>
    <script>
        var gradient = new Gradient()
        gradient.initGradient('#gradient-canvas');
    </script>
    <div class='list' style="text-align: center;">
    <h2 style="text-align: center;">Liste des liens </h2>

    <input type="text" value="https://contact788081.typeform.com/to/bJsmiruG?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="copying()">Histoire d'audition
    </button>
    <input type="text" value="https://contact788081.typeform.com/to/OeCNlcDS?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="copying()">Harmonie d'audition
    </button>
    <input type="text" value="ehttps://contact788081.typeform.com/to/pcsJrpjR?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="copying()">Vivason
    </button>
    <input type="text" value="ehttps://contact788081.typeform.com/to/dTaEWD6j?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="copying()">Vivason 92
    </button>
    <input type="text" value="ehttps://contact788081.typeform.com/to/OxnZdtzU?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="copying()">Alliance CAG
    </button>
    <input type="text" value="ehttps://contact788081.typeform.com/to/MF1Y4FyO?utm_source=xxxxx#nom=xxxxx&prenom=xxxxx&telephone=xxxxx&civilite=xxxxx&email=xxxxx&code=xxxxx&code_postal=xxxxx" id="myInput">
    <button type="button" class="button-85" onclick="copying()">NouvelAir CAG
    </button>

</div>



</body>

</html>