<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="Gradient.js" ></script>
    <title>Publiweb File Maker</title>
    <script src="{{url_for('static', filename='static/gradient.js')}}"></script>

    
    <title>Publiweb File Maker</title>
</head>
<style>
    body {
        margin:0;
        padding:0;
        margin-top:-60
    }

    #gradient-canvas {
        --gradient-color-1: #b365d6;
        --gradient-color-2: #b3cdf4;
        --gradient-color-3: #ee343f;
        --gradient-color-4: #fac15a;
    }
</style>
<body>
    <canvas id="gradient-canvas" style="width:100vw;height:50vh"></canvas>
    <script>
        var gradient = new Gradient()
        gradient.initGradient('#gradient-canvas');
    </script>
    <h2 style="text-align: center;">Vous n'avez pas accès à cette page</h2>

    <div class="container" style="width: 100%; align-items: center; display: flex; justify-content: center;">
      <a href="/" target="blank" style="margin-right:10px"><button class="button-85" role="button">S'authentifier</button></a>
     </div>
</body>
</html>